{% extends 'base.html' %}

{% block main %}
<div class="max-w-md mx-auto bg-white p-8 rounded-md shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-6 text-gray-800 text-center">Password Reset Successful</h2>
    <p class="text-gray-600 text-center">An email has been sent to you with instructions on how to reset your password.</p>
    <div class="mt-4 text-center">
        <a href="{% url 'login' %}" class="text-teal-600 hover:underline">Back to Login</a>
    </div>
</div>
{% endblock %}